body{
    background-color: #95a5a6;
    margin-left: auto;
    
}
table{
    background-color: #2980b9; 
    border-radius: 10px;
    padding:10px; 
}
h1{
    text-align: center;
}
#calculator-brand{
    text-align: right;
    
}

#keypad{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
} 

#display-bar{
    background-color: white;
    margin-bottom: 10px; 
    height: 50px; 
    width: 235px;
    font-size:2em;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Indie Flower', cursive;
    padding-left: 10px;
}

input[type=button]{
    background-color: aqua;
    height:50px;
    width:50px;
    font-size:1em;
    border-radius:10px;
}